.sign-up-form__error,
.log-in-form__error {
  color: red;
}

.sign-up-form__background,
.log-in-form__background {
  background-color: var(--background-gray);
  min-height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sign-up-form__window,
.log-in-form__window {
  border: 1px solid lightgray;
  background-color: white;
  margin-top: 35px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sign-up-form__window {
  height: 32em;
}

.log-in-form__window {
  height: 20em;
}

@media screen and (max-width: 820px) {
  .sign-up-form__window,
  .log-in-form__window {
    width: 90vw;
  }
  .sign-up-form__window {
    min-height: 72vh;
  }
}

@media screen and (min-width: 821px) {
  .sign-up-form__window,
  .log-in-form__window {
    width: 20em;
  }
}

.sign-up-form__el,
.log-in-form__el {
  width: 89%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-form__input.bio {
  height: 43px;
}

.sign-up-form__input.name,
.sign-up-form__input.lastname,
.sign-up-form__input.email,
.sign-up-form__input.password,
.sign-up-form__input.password_second,
.sign-up-form__input.username {
  height: 35px;
}

.log-in-form__input {
  height: 35px;
}

.log-in-form__el.cta {
  text-align: center;
  color: rgb(148, 148, 148);
  padding-bottom: 1em;
}

.sign-up-form__input,
.log-in-form__input {
  background-color: var(--background-gray);
  border: 1px solid lightgray;
  width: 99%;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.sign-up-form__input:focus,
.log-in-form__input:focus {
  outline: none;
  border-color: rgb(148, 148, 148);
}

.sign-up-form__el > span,
.log-in-form__el > span {
  font-size: x-small;
  width: 100%;
}

.sign-up-form__input[name="bio"] {
  resize: none;
}

.sign-up-form__button,
.log-in-form__button {
  width: 91%;
  background-color: var(--nice-blue);
  color: white;
  font-weight: bold;
  border: none;
  transition: border 0.1s, background-color 0.5s ease-in-out;
}

.sign-up-form__button {
  height: 8%;
}

.log-in-form__button {
  height: 20%;
}

.sign-up-form__button:hover,
.log-in-form__button:hover {
  border: 2px solid var(--nice-blue);
  background-color: white;
  color: var(--nice-blue);
}

.sign-up-form__login,
.log-in-form__signup {
  text-align: center;
}

.sign-up-form__login_link,
.log-in-form__signup_link {
  color: var(--nice-blue);
  text-decoration: none;
}

.sign-up-form__login_link:hover,
.log-in-form__signup_link:hover {
  text-decoration: underline;
}

.sign-up-form__input.bio::placeholder {
  font-family: var(--fonts);
}
